@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Pinyon+Script&display=swap');
@import'variables';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Nunito',sans-serif;
}
.header-logo{
    font-family: 'Pinyon Script',cursive;
    
} 
@mixin min-height{
    min-height:100vh;
}
.bg-left{
    background-color:$bg-color ; 
    @include min-height; 

}
.pad-items{
    padding-top: 100px;
}
.icons{
    padding:30px;
    margin-left: 150px;
}
.bg-saloon{
    background-color: $bg-saloon;
}
.bg-welcome{
    background-color: $bg-welcome;
}
.welcome{
    padding:100px;
}
.empty-div{
    background-color: $bg-color;
    height:400px;
    width:400px;
}
.rotate-img{
    transform: rotateZ(20deg);
}
.pad-properties{
    padding: 20px;
}
.bg-down{
    background-color:$bg-color;
}
.text-down{
    color:$bg-color;
}


@media screen and (max-width:600px) {
    .feature{
        display: flex;
        flex-direction: column;
    }
}